:root {
    --primary-700: hsl(240, 73%, 10%);
    --neutral-400: hsl(0, 0%, 100%);

    --background: var(--primary-700);

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--neutral-400);
}

body {
    background-color: var(--background);
    width: 100%;
    cursor: default;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 6rem;
    line-height: 1;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.26em;
    text-transform: uppercase;
}

h1 > * {
    display: block;
}

h1.name {
    font-weight: bold;
    font-size: 9.4vh;
    padding-top: 20vh;
    font-weight: bold;
}

h1.name > :last-child {
    font-size: 0.75em;
    font-weight: 300;
}

main {
    line-height: 1.8;
    letter-spacing: 0.05em;
    padding-inline: max(calc((100% - 50rem) / 2), 1rem);
    margin-top: 5rem;
}

#sky {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.star-grid {    
    stroke: white;
    stroke-width: 3px;
    fill: none;
    opacity: 0.04;
}

.star-let {
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    font-size: 2.3vh;
}


.star-let.hovered {
    font-size: 6.9vh;
}

.const-label {
    text-transform: uppercase;
    opacity: 0.2;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 2.3vh;
    letter-spacing: 0.25em;
    fill: white;
    pointer-events: none;
}

.const-group-bb:focus {
    outline: none;
}

.const-group-bb:focus-visible {
    outline: 1px solid orange;
}


.const-group-bb:hover {
    cursor: pointer;
}

.home-btn {
    display: block;
    position: fixed;
    top: 5rem;
    left: 3rem;
}

.home-btn > * {
    height: 10vh;
    width: auto;
    transform: rotate(-25deg);
}

.h1-spaced {
    margin-top: 1em;
    /* display: block; */
    /* padding: 1px; */
}

.const-page::before {
    content: '';
    inset: 0;
    position: fixed;
    /* background-blend-mode: screen; */
    mix-blend-mode: screen;
    background-size: cover;
    /* background-attachment: fixed; */
    z-index: -1;
    opacity: 10%;
}

.const-page.draco::before {
    background-image: url(./assets/draco.png);
}

.const-page.cygnus::before {
    background-image: url(./assets/cygnus.png);
}

main.planets-wrapper {
    margin-top: 3rem;
    padding-inline: calc((100% - 40rem) / 2);
    overflow: clip;
    overflow-clip-margin: 20rem;
}

.planet-container {
    font-variant: small-caps;
    font-size: 2rem;
    letter-spacing: 0.1em;
    height: 11rem;
    position: relative;
    pointer-events: none;
}

.planet-container:nth-child(odd)::before {
    content: '';
    width: 300vw;
    z-index: -1;
    border: none;
    border-top: 2px dashed white;
    opacity: 0.2;
    display: block;
    position: absolute;
    top: 10rem;
    left: 10rem;
    transform: translateX(-50%) rotate(-30deg);
}

.planet-container:nth-child(even) .planet-link {
    margin-left: auto;
}

.planet-link {
    pointer-events: all;
    width: 20rem;
    height: 20rem;
    display: block;
    border-radius: 100vh;
    position: relative;
    box-shadow: 0px 0px 15.4px 0px rgba(255, 255, 255, 0.10);
    transition: transform 0.15s ease-in-out;

}

.planet-link::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #000;
    display: block;
    border-radius: 100vh;
    box-shadow: -14px -24px 21.2px -19px rgba(255, 255, 255, 0.90) inset;
    mix-blend-mode: screen;
    transition: box-shadow 0.15s ease-in-out;
}

.planet-link::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #EBEBEB;
    outline: 1px solid black;
    display: block;
    border-radius: 100vh;
    mix-blend-mode: multiply;
    box-shadow: 28px 50px 20px -10px rgba(0, 0, 0, 0.90) inset, 80px 150px 20px -75px rgba(0, 0, 0, 0.50) inset;
    transition: box-shadow 0.15s ease-in-out;
}

.planet-link:hover {
    transform: scale(0.98);
}

.planet-link:hover::after {
    box-shadow: -19px -29px 21.2px -19px rgba(255, 255, 255, 0.90) inset;
}

.planet-link:hover::before {
    box-shadow: 10px 20px 20px -6px rgba(0, 0, 0, 0.90) inset, 50px 90px 20px -35px rgba(0, 0, 0, 0.50) inset;
}

.planet-container:nth-child(odd) .planet-link:hover + .planet-link-label {
    transform: translate(-6rem, 2rem);
}

.planet-container:nth-child(even) .planet-link:hover + .planet-link-label {
    transform: translate(6rem, 3rem);
}

.planet-link > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100vh;
    display: block;
}


.planet-link-label {
    position: absolute;
    width: 30%;
    line-height: 1;
    text-align: center;
    transition: transform 0.15s ease-in-out;
}

.planet-container:nth-child(odd) .planet-link-label {
    top: 100%;
    left: 0;
    transform: translate(-5rem, 2rem);
}

.planet-container:nth-child(even) .planet-link-label {
    top: 0;
    right: 0;
    transform: translate(5rem, 3rem);
}