*,
*::before,
*::after
{
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h4,
p,
span
{
    margin: 0;
    padding: 0;
    color: inherit;
}

img
{
    display: block;
    max-width: 100%;
}

a
{
    text-decoration: none;
    color: inherit;
}

:root
{
    --primary-300: hsl(258, 100%, 97%);
    --primary-350: hsl(258, 60%, 85%);
    --primary-400: hsl(258, 30%, 60%);
    --primary-500: hsl(258, 20%, 50%);
    --primary-600: hsl(258, 20%, 40%);
    --accent-300: hsl(220, 90%, 90%);
    --accent-400: hsl(220, 100%, 80%);
    --accent-500: hsl(220, 60%, 70%);

    color: #333;
    font-family: 'Open Sans', sans-serif;
}

body
{
    background-color: var(--primary-300);
    line-height: 1.5;
}

h1, h2, h4
{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-600);
}

header
{
    margin: 3em 0;
    border-top: 1px dashed var(--primary-350);
    border-bottom: 1px dashed var(--primary-350);
}

h1
{
    font-size: clamp(1.5em, 4vw, 3.5em);
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    text-align: center;
    position: relative;
    display: block;
    max-width: max-content;
    width: calc(100% - 2em);
    padding: 0 clamp(1em, 10vw, 3.5em);
    margin: 0 auto;
    text-align: center;
}

h1::before,
h1::after
{
    color: var(--primary-350);
    position: absolute;
    font-size: 2em;
    line-height: 1;
    top: 50%;
    transform: translateY(calc(-50% - 0.1em));
}

h1::before
{
    content: '{';
    left: 0;
}

h1::after
{
    content: '}';
    right: 0;
}

h2
{
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
}

.jump-about
{
    text-decoration: underline;
    font-family: 'Open Mono', monospace;
    font-size: 1.2em;
    display: block;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 1.5em;
    padding: 0 3em;
    color: var(--primary-600);
    position: relative;
    line-height: 1;
}

.jump-about::before,
.jump-about::after
{
    position: absolute;
    color: var(--primary-350);
    font-size: 1.5em;
    bottom: -0.1em;
    transition: all ease 0.2s;
    content: '/// ';
}

.jump-about::before
{
    left: 0;
}

.jump-about::after
{
    right: 0;
}

.jump-about:hover::after,
.jump-about:focus-visible::after
{
    transform: translateX(1em);
}

.jump-about:hover::before,
.jump-about:focus-visible::before
{
    transform: translateX(-1em);
}

h4
{
    font-size: 1.2em;
    font-weight: 600;
}

main
{
    max-width: 80em;
    width: calc(100% - 2em);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

.card
{
    background-color: white;
    display: grid;
    width: 100%;
    grid-template-rows: 15rem auto;
    grid-template-columns: auto;
    position: relative;
    transition: transform ease 0.2s;
}

.card img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover,
.card:focus-visible
{
    transform: translateY(-0.1em);
}

.card::before
{
    content: '';
    box-shadow: 0 0.2em 0.5em 0 rgb(0 0 0 / 40%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    transition: opacity ease 0.2s, transform ease 0.2s;
}

.card:hover::before,
.card:focus-visible::before
{
    opacity: 1;
    transform: translateY(-0.1em);
}

.card-text
{
    padding: 1em;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.card-text p
{
    margin-top: 0.7em;
}

.code-lang
{
    text-align: right;
    position: relative;
    color: #555;
    font-family: 'Roboto Mono', monospace;
    margin-top: 1.2em;
}

.code-lang::before
{
    content: '';
    position: absolute;
    width: 2em;
    height: 0.4em;
    bottom: calc(100% + 0.2em);
    right: 0;
    background-color: var(--accent-400);
}

.about
{
    margin-top: 3em;
    background-color: white;
    padding: 2em;
    box-shadow: inset 0 1px 4px 0 rgb(0 0 0 / 10%), inset 0 1px 10px 0 rgb(0 0 0 / 8%);
}

.about h2
{
    margin-top: -1.5em;
    margin-left: 1em;
    margin-bottom: 0.5em;
    position: relative;
}

.about h2::before
{
    content: '// ';
    font-size: 2em;
    position: absolute;
    right: 100%;
    bottom: 0;
    line-height: 1;
    color: var(--primary-350)
}

.footer
{
    font-size: 1.1em;
    margin: 2em auto;
    display: block;
    max-width: max-content;
    width: calc(100% - 2em);
    padding: 0 5em;
    font-family: 'Roboto Mono', monospace;
    color: var(--primary-400);
    position: relative;
    text-align: center;
}

.footer a
{
    color: var(--primary-600);
}

.footer a:hover,
.footer a:focus-visible
{
    text-decoration: underline;
}

.footer::before,
.footer::after
{
    position: absolute;
    font-size: 2em;
    line-height: 1;
    color: var(--primary-350);
}

.footer::before
{
    content: '/*';
    left: 0;
    top: -0.1em;
}

.footer::after
{
    content: '*/';
    right: 0;
    bottom: 0;
}

::selection
{
    background-color: var(--primary-400);
    color: white;
}

@media (min-width: 60rem)
{
    .card
    {
        width: calc((100% - 1.5em)/2);
        height: 15rem;
        grid-template-columns: 15rem 1fr;
        grid-template-rows: 100%;
    }

    .card-text p
    {
        overflow: hidden;
    }
}

@media (prefers-reduced-motion) 
{
    .card
    {        
        transition: none;
        transform: none !important;
    }

    .card::before
    {
        transform: none !important;
    }

    .jump-about::before,
    .jump-about::after
    {
        transition: none;
    }
}